<?xml version="1.0" encoding="UTF-8"?>
<configuration><system.webServer><rewrite><rules><rule name="REST API" stopProcessing="true"><match url="^api/(.*)$"/><action type="Rewrite" url="api/{R:1}.php"/></rule><rule name="Clean PHP" stopProcessing="true"><match url="^([_0-9a-zA-Z/-]+)$"/><conditions><add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/><add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/><add input="{DOCUMENT_ROOT}/{R:1}.php" matchType="IsFile"/></conditions><action type="Rewrite" url="{R:1}.php"/></rule></rules></rewrite><httpProtocol><customHeaders><add name="X-Content-Type-Options" value="nosniff"/><add name="X-Frame-Options" value="SAMEORIGIN"/><add name="Referrer-Policy" value="strict-origin-when-cross-origin"/></customHeaders></httpProtocol><security><requestFiltering><requestLimits maxAllowedContentLength="52428800"/></requestFiltering></security></system.webServer></configuration>
